:root {
  --secondarycolour: #AB96FF;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  font-size: 21px;
  font-family: "new_font_amagro", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation: fadeIn 1s;
}

@font-face {
  font-family: 'new_font_amagro';
  src: url('/amagro/Amagro.ttf') format('ttf');
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

p,
h1 {
  font-family: serif;
  color: white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */ /* Adjust as needed */
}

div {
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  outline: 1px solid var(--secondarycolour);
  max-width: 45em;
  margin: 3em auto;
  box-shadow: 0 4px 8px 0 var(--secondarycolour);
  transition: 0.3s;
}

.container:hover {
  box-shadow: 0 5px 15px 0 var(--secondarycolour);
  transform: translateY(-5px);
}

.blog-post {
  margin: 0 auto;
  height: 85%;
  width: 45%;
  text-align: center;
}

#header, #content {
  padding: 1em 1em 0.5em 1em;
}



h1 {
  text-align: center;
  font-size: 4.1rem;
  color: var(--secondarycolour);
}

h3 {
  color: var(--secondarycolour);
}

.center {
  display: block;
  margin: 0 auto;
  width: 85%;
}

li {
  color:white;
  padding-top: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin: auto 159px;
}

.topnav {
  background-color: inherit;
  padding-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.title {
  overflow: hidden;
  float: left;
  display: flex;
  text-align: center;
  padding: 1em 1em 1em 9%;
  text-decoration: none;
  font-size: 2.1rem;
  color: #AB96FF;
  font-weight: bold;
  align-items: center;
  white-space: nowrap;
}

#firstnav {
  padding-left: 23%;
}

.pages {
  float: left;
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 1.7em 21px;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  background-attachment: scroll;
}

.pages:hover {
  color: #AB96FF;
}

footer {
  margin: auto;
  margin-top: 3em;
  padding: 0.3em 1em 1em 1em;
  margin-bottom: 3em;
  color: white;
  text-align: center;
  outline: 1px solid white;
  width: 25em;
}

.school_address {
  color: white;
}

p a {
  display: block; 
}